@use '@styles/colors' as colors;
@use '@styles/dimensions' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/decorations.scss' as decorations;

.container {
   display: grid;
   gap: dimensions.margin('lg');

   @media (max-width: breakpoints.screen('phone')) {
      gap: dimensions.margin('md');
   }

   & .logo {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: dimensions.margin('lg') 0;

      & img {
         max-width: 100%;
      }
   }
   
   & .highlights {
      display: grid;
   }

   & .teaser {
      background: colors.bg('primary');
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: dimensions.padding('lg');
      box-shadow: decorations.box-shadow('md');

      @media (max-width: breakpoints.screen("phone")) {
         display: grid;
         gap: dimensions.margin('lg');
     }
   }

   & .title {
      margin-top: dimensions.margin('xl');
   }

   & .highlights {
      margin: 0 dimensions.margin('xxl');

      @media (max-width: breakpoints.screen("tablet")) {
         margin: 0 dimensions.margin('md');
      }
   }
}
