@use '@styles/gradients' as gradients;
@use '@styles/fonts' as fonts;

.container {
    color: white;
    font-size: 3rem;
    
    background: linear-gradient(to right, white, white, transparent, transparent);
    opacity: 0;

    @include gradients.background-clip();
    background-size: 200% 200%;

    &.handwritten * {
        font-family: fonts.family('handwritten'); 
    }

    &.show {
        opacity: 1;
        animation: draw 1s linear;
    }
}

@keyframes draw {
    0% {
        opacity: 0;
        background-position: 100%;
    }

    100% {
        opacity: 1;
        background-position: 0;
    }
}