@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    height: 100%;
    display: grid;
    place-items: center;
    gap: dimensions.margin('lg');

    & .nextOpening {
        display: grid;
        place-items: center;

        & .title, & .location {
            color: colors.text('secondary');
        }

        & .date {
            text-align: center;

            & .timezone {
                color: colors.text('secondary');
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: dimensions.margin('sm');

                & .localeInfoButton {
                    margin: 0;
                    padding: 0;
                }
            }

            & .timeunit {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: dimensions.margin('sm');

                img {
                    height: 22px;

                    @media (max-width: breakpoints.screen('tablet')) {
                        height: 16px;
                    }
                    @media (max-width: breakpoints.screen('phone')) {
                        height: 14px;
                    }
                }
            }
        }

    }
}
