@use '@styles/mixins.scss' as mixins;
@use '@styles/colors.scss' as colors;
@use '@styles/decorations.scss' as decorations;
@use '@styles/gradients.scss' as gradients;
@use '@styles/dimensions.scss' as dimensions;

.container {
    display: flex !important;
    align-items: center !important;
    gap: dimensions.margin('md') !important;
    
    &.sm {
        @include mixins.button('sm');
    }
    
    &.md {
        @include mixins.button('md');
    }

    &.lg {
        @include mixins.button('lg');
    }
    
    &.xl {
        @include mixins.button('xl');
    }


    &.primary {
        @include gradients.silver();
        //background-color: colors.fg('primary');
        color: colors.text('tertiary');
        box-shadow: decorations.box-shadow('sm');
    }

    &.secondary {
        background-color: colors.fg('secondary');
        box-shadow: decorations.box-shadow('sm');
    }

    &.accent {
        @include gradients.gold();
        color: colors.text('tertiary');
        box-shadow: decorations.box-shadow('sm');
    }

    &.neutral {
        border: 1px solid colors.neutral('white');
        box-shadow: decorations.box-shadow('sm');
    }
}
