@use '@styles/mixins.scss' as mixins;
@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;

.container {
    all: unset;
    display: inline-block;
    @include mixins.button('primary', 'sm', 'false');
    font-family: "Times New Roman";

    &.active {
        color: colors.text('accent');
    }

    & .wrapper {
        display: flex;
        align-items: center;
        gap: dimensions.margin('sm');

        & .icon {
            height: dimensions.icon-size('lg');
            width: dimensions.icon-size('lg');
            filter: brightness(0.8);

            &:hover {
                filter: brightness(0.5);
            }
        }
    }
}
