@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decorations;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
  .title {
    margin-top: dimensions.margin('xxl');
    margin-bottom: dimensions.margin('xxl');
  }

  .drinks {
    padding: dimensions.padding('xl');
  }
}
