$fonts: (
    'typed': "Roboto",
    'signature': 'Spanish Signature',
    'handwritten': 'Dancing Script'
);

@function family($name) {
    @return map-get($fonts, $name);
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "Spanish Signature";
    src: 
        url("../fonts/SpanishSignatureRegular.otf"),
        url("../fonts/SpanishSignatureRegular.ttf");
    font-weight: normal;
}

$sizes: (
    "xs": 14px,
    "sm": 18px,
    "md": 22px,
    "lg": 28px,
    "xl": 42px,
    "xxl": 72px
);

@function size($name) {
    @return map-get($sizes, $name);
}
