@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decorations; 
@use '@styles/colors.scss' as colors;
@use '@styles/fonts.scss' as fonts;

@mixin button($size: 'md', $background: 'true', $padding: 'true') {
    all:unset;
    user-select: none;
    border: decorations.border-width('standard');
    border-radius: decorations.border-radius('lg');
    color: colors.text('primary');

    @if ($background == 'true') {
        box-shadow: decorations.box-shadow('md');
    }
    
    @if $size == 'sm' {
        padding: dimensions.padding('sm') dimensions.padding('md');
        font-size: fonts.size('sm');
    } @else if $size == 'md' {
        padding: dimensions.padding('md') dimensions.padding('lg');
    } @else if $size == 'xl' {
        font-size: fonts.size('xl');
    }

    &:visited {
        color: colors.text('primary');
    }

    &:hover {
        @if ($background == 'true') {
            filter: brightness(0.8);
        } @else {
            color: colors.text('secondary');
        }
        cursor: pointer;
    }
}

@mixin sqsize($size) {
    width: $size;
    height: $size;
}

@mixin divider {
    margin: 8px 0;
    position: relative;
                
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        box-shadow: inset 0 2px 8px black;
    }
}

@mixin divider-dark {
    @include divider;

    border-bottom: 1px solid rgba(128, 128, 128, 0.8);

    &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
} 

@mixin divider-light {
    @include divider;

    border-bottom: 1px solid rgba(224, 224, 224, 0.2);

    &::after {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 4px rgb(136, 119, 108);
    }
} 