@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    margin: dimensions.margin('xxl');

    & .title {
        margin-top: dimensions.margin('xxl');
        margin-bottom: dimensions.margin('lg');
    }

    & .categories {
        display: grid;

        & .category {
            display: grid;

            & .venues {
                display: grid;
                gap: dimensions.margin('xxl');
                grid-template-columns: repeat(4, 1fr);
                justify-content: center;
                justify-items: center;
            }

            @media (max-width: breakpoints.screen('desktop')) {
                & .venues {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        
            @media (max-width: breakpoints.halfway('tablet', 'desktop')) {
                & .venues {
                    grid-template-columns: repeat(2, 1fr);
                    gap: dimensions.margin('xl');
                }
            }
        
            @media (max-width: breakpoints.halfway('phone', 'tablet')) {
                margin: dimensions.margin('md');
        
                & .venues {
                    grid-template-columns: 1fr;
                    gap: dimensions.margin('lg');
                }
            }

        }
    }

    & .bottomSeparator {
        margin-bottom: dimensions.margin('lg');
    }

}
