@use '@styles/colors.scss' as colors;
@use '@styles/fonts.scss' as fonts;


.container {
    position: sticky;
    top: 0;
    left: 0;    
    background: colors.bg('secondary');
    height: 42px;
    z-index: 2;

    & * {
        font-family: fonts.family('handwritten');
        font-size: fonts.size('lg') !important;
    }
}
