@use '@styles/dimensions.scss' as dimensions;
@use '@styles/colors.scss' as colors;
@use '@styles/fonts.scss' as fonts;

.container {
    background: colors.bg('secondary');
    width: 100%;
    z-index: 2;
    padding-top: dimensions.padding('sm');
    padding-bottom: dimensions.padding('sm');

    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: dimensions.margin('md');
        color: colors.text('secondary');
        height: 100%;

        & * {
            font-size: fonts.size('sm');
        }

        & span {
            display: flex;
            align-items: center;
        }
    }
}
