@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/decorations.scss' as decorations;

.container {
    display: flex;
    
    margin: dimensions.margin('lg') 0;
    gap: dimensions.margin('lg');

    background: rgba(0, 0, 0, 0.75);
    padding: dimensions.padding('xl');
    border-radius: decorations.border-radius('md');
    box-shadow: decorations.box-shadow('md');

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    & .column {
        width: 50%;
        display: grid;
        align-content: center;

        gap: dimensions.margin('lg');
        margin: dimensions.margin('xxl');

        @media (max-width: breakpoints.screen("desktop")) {
            margin: dimensions.margin('md') 0;
        }
    }

    @media (max-width: breakpoints.screen("tablet")) {
        display: grid;
        
        & .column {
            width: 100%;
        }
    }
}
