@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decorations;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/colors.scss' as colors;

.container {
    max-height: 100%;

    & .content {     
        display: grid; 
        overflow-y: auto;
        max-height: 75vh;
        padding: 0 dimensions.margin('lg');
        padding-bottom: dimensions.margin('md');

        & h1, & h2, & h3, & h4 {
            color: colors.text('secondary');
            text-align: center;
        }

        & hr {
            opacity: 50%;
        }
    }

    @media (max-width: breakpoints.screen('tablet')) {
        margin: 0 dimensions.margin('lg');
    }
}
